// Sizes
$robin: 650px;
$batman: 960px;
$superman: 1250px;

// Colors
$linkColor: #C60;
$linkColorHover: darken($linkColor, 5%);

$grayDark: #5b5b5b;

// Fonts
$sans: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$serif: "ff-meta-serif-web-pro", serif;