header[role="banner"] {
	margin: 50px 0 50px;
	text-align: center;

	img {
		width: 124px;
		margin: 0 auto;
		border-radius: 50% 50%;

		@include box-shadow(#dedede 0 0 3px 3px);
	}

	h1 {
		color: #333;
		font-size: 24px;
		font-weight: 900;
		text-transform: uppercase;
		margin-top: 20px;

		small {
			text-transform: none;

			color: #aaa;
			font-size: 16px;
			font-weight: 100;
			letter-spacing: 1.5px;
		}
	}

	p.description {
		margin-top: 5px;
		font-family: $serif;
		font-size: 14px;
		color: #aaa;
	}
}